/*
 Theme Name: WF College Two child one
 Description: Child theme from WF College Two that displays all posts on front page, with categorized posts on several other pages, according to their name. The display of categorized posts on individual pages is controlled by the content-page.php template part.
 Author: Robert Vidrine
 Version: 1.0
 License: GPLv2+
 License URI:
 Template: wf-college-two
 */
 /* Customizations */

 
.main-navigation {
	text-transform: initial;
}
.main-navigation a {
	padding: 0.3em 1em;
}

/* Change search box to always shown, mag glass
** is the submit button, instead of a toggle to show
** the search box. */
.search-box-wrapper {
	display: block;
	position: absolute;
	top: inherit;
	width: 7em;
	margin-right: 0;
	float: none;
	right: 0.2em;
	float: right;
}
.footer-widgets {
	display: flex;
	justify-content: space-between;
}

/* Hide Continue Reading */
.continue-reading {
	display: none;
}

/* make room for search box */
.main-navigation ul { 
	margin: 0 7em 0 0;
}

/* Place search box and make footer widgets stack
** when in "small menu" mode */
@media screen and (max-width: 767px) {
	.search-box-wrapper {
		position: relative;
		top: -1rem;
	}
	.menu-toggle {
		font-size: 2rem;
		height: 3rem;
		line-height: 2rem;
		padding: 0 0.5rem;
		position: relative;
		top: 1rem;
		margin-left: .2rem;
	}
	.main-navigation li a {
		padding: .5em 2em;
	}
	.footer-widgets {
		display: block;
	}
	.main-navigation ul {
		margin: 0;
	}
}
.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: inline-block;
	right: 0px;
	position: absolute;
	line-height: 1.4rem;
	font-size: 1.2rem;
	padding: .25em;
}
.search-toggle {
	display: none;
}

.search-box {
	padding: 0;
}

.search-box .search-field {
	padding: 0rem 2.8rem 0rem 0.5rem;
	background: #625750;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
}

input[type="search"] {
	line-height: 1.4;
}

input[type="search"]:focus {
	color: white;
}

/* Make the entire page no larger than 960px (base size is 10px X 96.) */
body {
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
}

/* CSS3 borders, like that used below on the body element. */

/* Right edge border that gets transparent moving left */
.right-to-left { 
	border-width: 3px 3px 3px 0; 
	border-style: solid; 
	-webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%; 
	-moz-border-image: -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%; 
	-o-border-image: -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%; 
	border-image: linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%; 
}

/* Left edge has border that becomes transparent moving right */
.left-to-right { 
	border-width: 3px 0 3px 3px; 
	border-style: solid; 
	-webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%; 
	-webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%; 
	-moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%; 
	-o-border-image: -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%; 
	border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%; 
}

/* Corner Gradients using radial gradients */

/* top right corner border fading to left and bottom */
.knockout-around { position: relative; } 
.knockout-around:before, 
.knockout-around:after { content: ""; position: absolute; } 
.knockout-around:before { top: -3px; left: -3px; right: -3px; bottom: -3px; background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(#000), to(transparent)); background-image: -webkit-radial-gradient(right top, 150px 230px, #000, transparent); background-image: -moz-radial-gradient(right top, farthest-corner, #000 0%, transparent 72%); z-index: -2; } 
.knockout-around:after { top: 0; left: 0; bottom: 0; right: 0; background: #a4b9ff; z-index: -1; 
}

/* Footer background is PMS Warm Gray 1, one of the official WFU Neutral Colors
** from identitystandards.wfu.edu */
.site-footer {
	background: #e5e0d9;
	color: black;
}

/* Contains the copyright notice at bottom of page. */
.site-info {
	background: #fff;
	margin-top: 1em;
}
.footer-widgets .widget-title,
.footer-widgets .widget a:hover {
	border-color: black;
	color: black;
}
/* Links in the footer remain black. */
.site-footer a {
	color: black;
}
/* Email icon and all other stuff in the footer remains black. */
.footer-widgets a[href*="mailto"]::before,
.footer-widgets .widgets a:hover {
	color: #000;
}
/* Text sizes in flexible units, designed to imitate sizes on Biology site */
.entry-title {
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 1.1em;
    color: #3d3c1d;
	font-weight: 500;
}
.entry-title a {
	color: #9e7e38;
	font-weight: 500;
}
.page-title {
 	font-size: 2em;
	font-weight: bold;
}
/* Hide the page-title if on home */
/*.home .page-title {
	display: none;
}*/
.entry-header, .page-header, .entry-content, 
.entry-footer, .tag-links, .post-navigation, 
.comments-area, .paging-navigation {
   max-width: 100%;
   padding: 0 4rem;  
}

/* Underline links in the main content area so they stand out. */
.entry-content a { 
    text-decoration: underline; 
}

/* Font sizes for standard elements in content area. */
.entry-content h1 {
    font-size: 25px;
    font-size: 2.5rem;
}

.entry-content h2 {
    font-size: 23px;
    font-size: 2.3rem;
}

.entry-content h3 {
    font-size: 20px;
    font-size: 2.0rem;
}

.entry-content h4 {
    font-size: 16px;
    font-size: 1.6rem;
}

.entry-content h5 {
    font-size: 14px;
    font-size: 1.4rem;
}

.entry-content h6 {
    font-size: 12px;
    font-size: 1.2rem;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.6em;
}

.entry-content blockquote p {
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 1.5em;
}

.entry-meta {
    margin-bottom: 2rem;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
}

.entry-meta a { font-weight: 600; }

.entry-footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 2em;
}

/* End of paste from most of Posts and Pages section of parent style.css */
body {
	font-size: 1.6rem;
}
.page-title {
	font-size: 2.5rem;
}
.widget-title {
	font-size: 1.8rem;
}

.site-footer,
.widget {
	font-size: 1.3rem;
}
/* Drop shadow around the content area to help set it off and make it more attractive */
.site-content,
.site-header,
.site-footer {
	box-shadow: 2px 1px 9px 2px #e7dcba;
}
.site-main,
.breadcrumb-trail {
	padding: 0 1rem;
}
.entry-header, 
.entry-content, 
.entry-summary, 
.entry-meta, 
.entry-footer, 
.tag-links, 
.post-navigation, 
.comments-area, 
.paging-navigation {
	padding: 0 1rem;
}
header {
	clear: both;
}
/* Make links in widgets less bold */
.widget a {
	font-weight: 500;
}
/* Fix alignment for special front page content */
.home .entry-content,
.home .entry-header  {
	padding: 0 4rem;
	margin: 0;
	max-width: 100%;
}

.home .entry-header {
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover,
.main-navigation .current_page_ancestor {
	background: black;
	color: white;
}

/* Make sure slider stays in middle of page in case the local base 
* font size is changed. Only relates when Meteor Slideshow plugin is used. */
.home #meteor-slideshow {
	margin: 0 auto;
}
/* Remove margisn on all widgets. */
.widget {
	margin: 0;
}
